@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Asta+Sans:wght@300..800&display=swap');

:root{
    --blue: #0B1D3F;
    --deepblue: #182A4B;
    --black: #121619;
    --white: #F4F6F9;
    --point: #3DDAD7;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: "Gowun Dodum", sans-serif;
}

.gowun-dodum-regular{
    font-family: "Gowun Dodum", sans-serif;
    font-weight: 400;
    font-style: normal;
}

body{
    color: var(--black);
    line-height: 1.6;
    background-color: var(--white);
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--blue);
    height: 100px;
    width: 100%;
    color: var(--white);
    padding: 0rem 4rem;
    z-index: 1000;
    position: fixed;
}

.hero_content h1{
    font-size: 3rem;
    margin-bottom: 1rem;
    color: var(--point);
}

.hero_content p{
    font-size: 1.2rem;
    color: var(--white);
    margin-bottom: 2rem;
}

.logo img{
    display: flex;
    justify-content: center;
    width: 170px;
    height: 70px;
}

.navbar .menu{
    display: flex;
    margin: 0;
    padding: 0;
}

.navbar a{
    display: block;
    color: var(--white);
    text-decoration: none;
    font-size: 1.3rem;
    font-weight: bold;
}

.navbar a:hover{
    color: var(--point);
}

.menu_m{
    position: relative;
    text-align: center;
    width: 150px;
    padding: 1.5rem;
    z-index: 1;
}

.submenu{
    display: none;
    position: absolute;
    left: 0;
    background-color: var(--blue);
    min-width: 180px;
    top: 100%;
}

.submenu li{
    border-bottom: 1px solid var(--deepblue);
}

.submenu li a{
    color: var(--white);
    padding: 10px;
    text-decoration: none;
    font-weight: normal;
    font-size: 1.1rem;
}

.submenu li a:hover{
    background-color: var(--blue);
    color: var(--point);
}

.menu_m:hover .submenu{
    display: block;
}

.hero{
    position: relative;
    background-image: url(../img/배경.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    color: var(--white);
    z-index: 1;
    overflow: hidden;
}

.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

.hero > * {
  position: relative;
  z-index: 1;
}

.cta-btn{
    width: 100px;
    height: 50px;
    background-color: #2fa8a6;
    color: var(--white);
    font-size: 0.9rem;
    padding: 10px 30px;
    border-radius: 30px;
    border: 0;
    cursor: pointer;
}

.cta-btn:hover{
    box-shadow: 5px 5px 0 #278d8b, 10px 10px 0 #1d6968;
    transition: 0.5s;
}

section.m_profile{
    color: var(--white);
    background-color: var(--blue);
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    padding-bottom: 20px;
}

.m_profile{
    text-align: center;
    padding-top: 50px;
}

.m_profile h1{
    color: var(--white);
    font-size: 4rem;
    margin-bottom: 80px;
}

.profile{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 20px;
    justify-content: center;
}

.profile_img img{
    width: 550px;
    height: 550px;
    border-radius: 50%;
    margin-right: 230px;
}

.profile_text h3{
    color: var(--point);
    font-size: 1.8rem;
    line-height: 1.6;
    margin: 0;
    text-align: left;
}

.profile_text p{
    color: var(--white);
    font-size: 1.4rem;
    line-height: 1.6;
    margin: 0;
    text-align: left;
}

section.m_brand{
    color: var(--white);
    background-color: var(--white);
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.m_brand{
    text-align: center;
    padding-top: 100px;
    margin-bottom: -50px;
}

.m_brand h1{
    color: var(--blue);
    font-size: 4rem;
    padding-bottom: 140px;
    margin-bottom: 30px;
}

.brand{
    display: flex;
    gap: 150px;
    justify-content: center;
}

.hexa{
    width: 400px;
    height: 400px;
    position: relative;
    transition: 0.5s;
}

.hexa:hover{
    transform: translateY(-40px);
    cursor: pointer;
}

.cap{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.hexa .cap{
    position: absolute;
    width: inherit;
    height: inherit;
    color: var(--white);
    transition: 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    opacity: 0;
    transform: translateY(20px);
    z-index: 2;
}

.hexa:hover .cap{
    opacity: 1;
    transform: translateY(0px);
}

.hexa .cap h2{
    font-size: 2.8rem;
}

.hexa .cap p{
    font-size: 1.5rem;
}

.hexa:nth-child(1) .cap{
    background: var(--blue);
}

.hexa:nth-child(2) .cap{
    background: var(--blue);
}

.hexa:nth-child(3) .cap{
    background: var(--blue);
}

.shape{
    clip-path: circle(50%);
    width: inherit;
    height: inherit;
    position: absolute;
    overflow: hidden;
}

.shape img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    display: block;
    z-index: 1;
}

.shape:hover img{
    opacity: 0.2;
}

.hexa .cap{
    position: absolute;
    width: inherit;
    height: inherit;
    color: var(--white);
    transition: 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
    transform: translateY(20px);
}

.about{
    background-color: var(--blue);
    position: relative;
}

.section-inner{
    width: 100%;
    height: 63vh;
}

.accordion-content{
    display: flex;
    overflow: hidden;
}

.focus{
    justify-content: space-between;
    align-items: center;
}

.accordion{
    flex: 4;
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.accordion *{
    transition: 0.5s;
}

.accordion li{
    height: 600px;
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: flex-end;
    padding: 20px;
    border-right: 1px solid var(--white);
    cursor: pointer;
}

.accordion:hover li{
    flex: 1;
}

.accordion li:hover{
    flex: 2;
    background-color: var(--deepblue);
}

.accordion li:hover .number:after{
    background-color: var(--point);
}

.accordion li:before{
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 20px;
}

.accordion li .number{
    position: relative;
    width: 400px;
    height: 400px;
    display: block;
    width: 100%;
    transform: translateY(-120px);
}

.accordion li:hover .number{
    width: 100%;
}

.accordion li .number img{
    margin-top: 200px;
    margin-left: 30px;
}

.img-default, .img-hover{
    position: absolute;
    top: 0;
    left: 0;
    width: 150px;
    height: 150px;
 
    transition: transform 0.5s ease, opacity 0.5s ease;
}

.img-hover{
    opacity: 0;
}

.accordion li:hover .img-default{
    opacity: 0;
    transform: translateY(-80px);
}

.accordion li:hover .img-hover{
    opacity: 1;
    transform: translateY(-80px);
}

.number{
    position: relative;
}

.accordion li .number:after{
    content: '';
    position: absolute;
    height: 10px;
    width: 100%;
    background-color: var(--white);
    bottom: -20px;
    left: 0;
}

.info{
    font-size: 1.2rem;
    color: var(--white);
    margin-left: 40px;
}

.info h2{
    font-size: 2.3rem;
}

footer{
    text-align: center;
    padding: 2rem;
    background-color: var(--blue);
    position: relative;
    color: var(--white);
    height: 100px;
}