@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Asta+Sans:wght@300..800&display=swap');

:root{
    --blue: #0B1D3F;
    --deepblue: #182A4B;
    --black: #121619;
    --white: #F4F6F9;
    --point: #3DDAD7;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: "Gowun Dodum", sans-serif;
}

.gowun-dodum-regular{
    font-family: "Gowun Dodum", sans-serif;
    font-weight: 400;
    font-style: normal;
}

body{
    color: var(--black);
    line-height: 1.6;
    background-color: var(--white);
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--blue);
    height: 100px;
    width: 100%;
    color: var(--blue);
    padding: 0rem 4rem;
    z-index: 1000;
    position: fixed;
}

.hero_content h1{
    font-size: 4rem;
    margin-bottom: 1rem;
    color: var(--point);
}

.hero_content p{
    font-size: 1.7rem;
    color: var(--white);
    margin-bottom: 2rem;
}

.logo img{
    display: flex;
    justify-content: center;
    width: 170px;
    height: 70px;
}

.navbar .menu{
    display: flex;
    margin: 0;
    padding: 0;
}

.navbar a{
    display: block;
    color: var(--white);
    text-decoration: none;
    font-size: 1.3rem;
    font-weight: bold;
}

.navbar a:hover{
    color: var(--point);
}

.menu_m{
    position: relative;
    text-align: center;
    width: 150px;
    padding: 1.5rem;
    z-index: 1;
}

.submenu{
    display: none;
    position: absolute;
    left: 0;
    background-color: var(--blue);
    min-width: 180px;
    top: 100%;
}

.submenu li{
    border-bottom: 1px solid var(--deepblue);
}

.submenu li a{
    color: var(--white);
    padding: 10px;
    text-decoration: none;
    font-weight: normal;
    font-size: 1.1rem;
}

.submenu li a:hover{
    background-color: var(--blue);
    color: var(--point);
}

.menu_m:hover .submenu{
    display: block;
}

.Movie{
    padding: 40px 20px;
}

.title-wrapper{
    display: flex;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 40px;
}

.title{
    font-size: 60px;
    font-weight: bold;
    color: var(--blue);
    margin-right: 20px;
    white-space: nowrap;
}

.title-line{
    flex-grow: 1;
    height: 6px;
    background-color: var(--blue);
}

.movie {
    display: flex;
    gap: 180px;
    justify-content: center;
    flex-wrap: wrap;
    padding-bottom: 100px;
}

.hexa {
    width: 400px;
    min-height: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.video-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 350px;
    height: 500px;
    overflow: hidden;
    transition: transform 0.3s ease;
    margin: 0 auto;
}

.video-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.video-wrapper:hover {
    transform: translateY(-20px);
    cursor: pointer;
}

.video-caption {
    white-space: nowrap;
    overflow: hidden;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.video-caption h2 {
    font-size: 1.6rem;
    color: var(--blue);
    margin-bottom: 5px;
}

.video-caption p {
    font-size: 1.2rem;
    color: var(--black);
}

footer{
    text-align: center;
    padding: 2rem;
    background-color: var(--blue);
    position: relative;
    color: var(--white);
    height: 100px;
}